<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442702362640-pg8qupag664v9mm0aithsed4bai563bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442702362640-pg8qupag664v9mm0aithsed4bai563bc</string>
	<key>API_KEY</key>
	<string>AIzaSyBdDx6OaHz7bLRz1iVRUg3Qa6sj9H1yMLw</string>
	<key>GCM_SENDER_ID</key>
	<string>442702362640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift.HomeChef</string>
	<key>PROJECT_ID</key>
	<string>homechefapp-2ab2e</string>
	<key>STORAGE_BUCKET</key>
	<string>homechefapp-2ab2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442702362640:ios:b5d431af534dc68d5ef295</string>
</dict>
</plist>